.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 100px;
}
.frontEnd, .backEnd{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.frontEnd:hover, .backEnd:hover{
    background: transparent;
    border-color: var(--color-pirmary-variant);
    cursor: default;
}
.h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary ) ;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap:1rem;
}
.details{
    display: flex;
    gap: 1rem;
}
.icon{
    color: var(--color-primary);
}

@media screen and (max-width: 480px) {
    .container{
        margin: 0 20px;
        grid-template-columns: 1fr;
    }
    .frontEnd, .backEnd{
    padding: 2.4rem 3rem;
    overflow: hidden;
    }
}