.container{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 35%;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);  
}
.navIcon{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}
.navIcon:hover{
    background:rgba(0, 0, 0, 0.3) ;
}
.active{
    background: var(--color-bg);
    color: var(--color-white);
}

@media screen and (max-width: 480px) {
    .container{
        left: 2%;
        right: 2%;
    }
}