.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin: 10px 100px;
}
.item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.itemImage{
    border-radius: 1.5rem;
    overflow: hidden;
}
.h3{
    margin: 1.2rem 0 2rem;
}
.btn{
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 480px) {
   .container{
    grid-template-columns: 1fr;
    margin: 0 30px;
   }    
}
