.container{
    margin: 10px auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.service{
    background-color: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    width: 450px;
    transition: var(--transition);
}
.service:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.header{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
  
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.list{
    padding: 2rem;
}
.li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
@media screen and (max-width:480px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .service{
        width: 320px;
    }
}